.content{
    width: 95%;
}
.sidebar{
    width: 5%;
}
.imgs{
    text-align: center;
    color: white;
    font-size: x-large;
    margin: auto;
    padding-bottom: 10%;
}

@media (max-width:686px) {
    .imgs{
        font-size: small;
        margin: 0;
        padding: 0;
        // text-align: left;
    }
}