<div class="container">
    <header>
      <h2>{{ pageTitle }}</h2>
    </header>
    <div class="group">

    
    <form [formGroup]="voucherForm" (ngSubmit)="submitForm()">
      
      <label for="name">Name:</label>
      <input id="name" type="text" formControlName="name" [value]="voucherName" >
      <small *ngIf="voucherForm.get('name')?.invalid && voucherForm.get('name')?.touched">Name is required</small>
  
      <label for="numberOfUsed">Number of Used:</label>
      <input id="numberOfUsed" type="number" formControlName="numberOfUsed">
      <small *ngIf="voucherForm.get('numberOfUsed')?.invalid && voucherForm.get('numberOfUsed')?.touched">Must be at least 1</small>
  
      <label for="discountValue">Discount Value %:</label>
      <input id="discountValue" type="number" formControlName="discountValue" [value]="discount" >
      <small *ngIf="voucherForm.get('discountValue')?.invalid && voucherForm.get('discountValue')?.touched">Enter a value between 1-100%</small>
  
      <label for="commtion">Commission:</label>
      <input id="commtion" type="number" formControlName="commtion">
      <small *ngIf="voucherForm.get('commtion')?.invalid && voucherForm.get('commtion')?.touched">Commission must be 0 or more</small>
  
      <label for="quantity">Quantity:</label>
      <input id="quantity" type="number" formControlName="countity">
      <small *ngIf="voucherForm.get('countity')?.invalid && voucherForm.get('countity')?.touched">Quantity must be at least 1</small>
  
      <label for="validationDate">Validation Date:</label>
      <input id="validationDate" type="date" formControlName="validDate">
      <small *ngIf="voucherForm.get('validDate')?.invalid && voucherForm.get('validDate')?.touched">Date is required</small>
  
      <button type="submit" [disabled]="voucherForm.invalid">Add Voucher</button>
    </form>
</div>
  </div>
  