<div class="container">
    <app-header-title>
        <header>
            <div class="merchant-info">
                <!-- <img [src]="merchant?.picURL" alt="Merchant Image" class="merchant-image" /> -->
                <h2 class="w-full">{{ companyTitle }}</h2>
            </div>   
            <div class="add-button">
                <button (click)="openSettlePopup()">Settle</button>
            </div>
        </header>
    </app-header-title>

    <div class="d-flex">
        <div class="box content-center">
            <div class="flex text-center w-full items-center justify-center ">
                <i class="fa-regular fa-clock"></i>
                <h3 class="pr-5">Pending Commission</h3>
            </div>
            <p>500 EGP</p>
        </div>
        <div class="box content-center">
            <div class="flex text-center w-full items-center justify-center ">
                <i class="fa-solid fa-check "></i>
                <h3 class="pr-5">Paid Commission</h3>
            </div>
            <p>200 EGP</p>
        </div>
    </div>

    <div class="container justify-center justify-items-center ">
        <div class="table-container">
            <h2>Pending Commission Details</h2>
            <table>
                <thead>
                    <tr>
                        <th>Voucher ID</th>
                        <th>Merchant Assigned Date</th>
                        <th>Client Assigned Date</th>
                        <th>Valid</th>
                        <th>Discount Amount</th>
                        <th>Commission</th>
                        <th>Used</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let voucher of vouchers">
                        <td>{{ voucher.id }}</td>
                        <td>{{ voucher.merchantAssignedDate }}</td>
                        <td>{{ voucher.clientAssignedDate }}</td>
                        <td>{{ voucher.valid ? 'Yes' : 'No' }}</td>
                        <td>{{ voucher.discountAmount }} EGP</td>
                        <td>{{ voucher.commission }} EGP</td>
                        <td [class.used-true]="voucher.used" [class.used-false]="!voucher.used">
                            {{ voucher.used ? 'True' : 'False' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
<div class="popup-overlay" *ngIf="showSettlePopup" (click)="closeSettlePopup()">
    <div class="popup" (click)="$event.stopPropagation()">
        <button class="close-btn" (click)="closeSettlePopup()">×</button>
        <h3>Settle Commission</h3>
        <label for="amount">Enter Amount:</label>
        <input type="number" id="amount" [(ngModel)]="settleAmount" min="0" required />
        <button class="btn" (click)="submitSettle()">Submit</button>
    </div>
</div>
