<div class="container">
  <!-- Left Section: Image and Icons -->
  <div class="left-section">
    <div class="hand-image">
      <span class="off-text">OFF</span>
    </div>
    <div class="get-logo">
      <!-- <img src="getGroup.png" alt="" /> -->
      <h1>GET Engage</h1>
    </div>
    <div class="hand-image">
      <span class="-text">25%</span>
    </div>
  </div>

  <!-- Right Section: Login Form -->
  <div class="right-section">
    
    <div class="form">
      <h2>Login</h2>
      <div class="group">
  
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

          <!-- Email -->
          <div class="form-group">
            <label for="email">Email :</label>
            <div class="input-container">
              <input
          id="email"
          type="email"
            formControlName="email"
            placeholder="example@gmail.com"
          />
          <span class="icon" ><i class="fa-solid fa-user"></i></span>
        </div>
        <div
        *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
          class="error"
          >
          * Valid email is required
        </div>
      </div>
      
      <!-- Password -->
      <div class="form-group">
        <label for="password">Password :</label>
        <div class="input-container">
          <input
          id="password"
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          placeholder="Enter Password"
          />
          <span class="icon" (click)="togglePasswordVisibility()"><i class="fa-regular fa-eye"></i></span>
        </div>
        <div
        *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
            "
          class="error"
          >
          * Password must be at least 8 characters
        </div>
      </div>
      
      <!-- Login Button -->
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    
    <!-- Social logins -->
    <div class="social-logins">
      <div class="social">
        <hr/>
        <p>Login with others</p>
        <hr/>
      </div>
      <div class="buttons">

        <button class="google-btn"><i class="fa-brands fa-google"></i>Login with Google</button>
        <button class="facebook-btn"><i class="fa-brands fa-facebook"></i>Login with Facebook</button>
      </div>
    </div>
    
    <p class="signup-text">
      New Here? Create an account.
      <a href="#" [routerLink]="'sign-up'">Sign Up</a>
    </p>
  </div>
  </div>
  </div>
</div>
