.container {
  background-color: #eee;

  width: 100%;
  padding: 15px;
  border-radius: 10px;

  .Merchants{
    display: flex;
   
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    .Merchant{
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-basis: calc(50% - 10px);
      border-radius: 5px;
      padding: 10px 25px;
      border: 3px solid #6E8BAB ;
       box-shadow: 0 4px 6px 0  #A6D4FFA6;
       transition: .4s;
       &:hover{
        transform: translateY(-5px);
        cursor: pointer;
       }
       div{
        display: flex;
        align-items: center ;
        justify-content: space-between;
        gap: 10px;
        padding: 10px;
        i{
          font-weight: bold;
          font-size: 35px;
        }
        h2{
          margin: 0;
          font-size: 35px;
          font-weight: bold;

        }
       }

       button{
        display: block;
        text-align: center;
        padding: 10px 25px;
        border-radius: 12px;
        border: 1px solid #eee;
        background-color: #012A41;
        color: #FFFFFF;
        font-weight: 400;
        cursor: pointer;
        transition: .4s;
        &:hover{
            background-color: #033C5B;
        }
       }
    }
  }
}
