<div class="container">

  <!--title -->
  <app-header-title>
    <header>
      <h2>Merchants</h2>

      <div class="add-button">
        <button (click)="addMerchant()">+ Add Merchant</button>
      </div>
    </header>
  </app-header-title>
  
  <!-- searechComponents -->
  <app-search />

  <div class="Merchants">
    @for ( Merchant of Merchants; track Merchant.id) {
      <div class="Merchant">

        <div class="name">
          <i [ngClass]="Merchant.picURL"></i>
          <h2>{{Merchant.name}}</h2>
        </div>
        <button (click)="merchantDetails(Merchant.id)">Details</button>
      </div>
    }
  </div>
</div>
