.container{
  min-width: 100%;
  min-height: 100vh;
  background-color: #dedede;
}
header{
  display: flex;
  background-color: white;
  width: 100%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.add-button{
  margin-right: 8px;
  width: 10%;
  text-align: right;
  align-content: center;
}
.link{color: white;}
.add-button button{
  padding: 1%;
  background-color: #033C5B;
  border: 1px solid #033C5B;
  color: white;
  border-radius: 10px;
}
h2{padding-left: 2%;font-size: xx-large;}

  .Merchants{
    display: flex;
   padding: 2%;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
    .Merchant{
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-basis: calc(35% - 10px);
      // height: 30vh;
      border-radius: 5px;
      padding: 10px 25px;
      border: 3px solid #ffffff ;
      background-color: white;
       box-shadow: 0 4px 6px 0  #A6D4FFA6;
       transition: .4s;
       &:hover{
        transform: translateY(-5px);
        cursor: pointer;
       }
       .name{
        width: 70%;

        color:#012A41;
       }
       div{
        display: flex;
        align-items: center ;
flex-direction: column;        gap: 10px;
        padding: 20px;
        img{
         
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
        h2{
          margin: 0;
          font-size: 30px;
          font-weight: bold;

        }
       }

       button{
        display: block;
        text-align: center;
        padding: 10px 25px;
      
        border-radius: 12px;
        border: 1px solid #eee;
        background-color: #012A41;
        color: #FFFFFF;
        font-weight: 400;
        cursor: pointer;
        font-size: larger;
        transition: .4s;
        &:hover{
            border:1px solid #033C5B;
            background-color: white;
            color: #033C5B;
        }
       }
    }
  }

@media (max-width:686px) {
  .Merchants{
    flex-direction: column;
    .Merchant{
      flex-basis: 100%;
    }
  }
}