.container {
    background-color: #eee;

    width: 100%;
    padding: 15px;
    border-radius: 10px;

    .voushers{
    margin-bottom: 30px;

display: flex;
align-items: center;
justify-content: space-between;
gap: 10px; 
    .vousher{
        display: flex;
        flex-direction: column;
        border: 1px solid #777;
        flex-basis: 33.33%;
        padding: 10px 25px;
        .vousher-header,p{
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 5px;
      
        }
    }

}


.stat{
    display: flex;
    margin-top: 20px;
    gap: 100px;
    .commissions{
        display: flex;
flex-wrap: wrap;
gap: 10px;
color: #eee;
.commission{
            border-radius: 12px;
            width: 100%;
            padding: 30px;
            background-color: #777;
            .commission-header{
                display: flex;
                // justify-content: space-between;
                i{
                    margin-right: 20px;
                }
            }
            p{
                text-align: center;
            }
        }
    }
}
}


.table-container {
    overflow-x: auto;
    margin-top: 30px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  th {
    background-color: #f4f4f4;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .used-true {
    color: green;
    font-weight: bold;
  }
  .used-false {
    color: red;
    font-weight: bold;
  }