<div class="container">
    <app-header-title>
        <h1>
            {{'Dashboard'}}
        </h1>
        <!-- <button>Assign Voucher</button> -->

    </app-header-title>


    <div class="voushers">

        <div class="vousher">
            <div class="vousher-header">
                <i class="fa-solid fa-gift"></i>
                <span>Total number of vouchers</span>
            </div>
            <!-- <p>{{merchant?.totalVouchers}}</p> -->
            <p>{{150}}</p>
        </div>
        <div  class="vousher">
            <div class="vousher-header">
                <i class="fa-solid fa-user-check"></i>
                <span>Total number of merchants</span>
            </div>
            <!-- <p>{{merchant?.totalUsedVouchers}}</p> -->
            <p>{{2}}</p>
        </div>
        <div  class="vousher">
            <div class="vousher-header">
                <i class="fa-solid fa-paperclip"></i>
                <span>Total redemptions</span>
            </div>
            <!-- <p>{{merchant?.totalUnusedVouchers}}</p> -->
            <p>{{0}}</p>

        </div>
    </div>

    <div class="stat">
        <img src="stat.png" alt="">
        <img src="DiscountTypes.png" alt="">

   
    </div>
