  <div class="container">
      <app-header-title>
        <h1>Add-Merchant</h1>
      </app-header-title>

      <div class="form-container">
        <form>
          <div class="form-group">
            <label>Email</label>
            <Input type="email" placeholder="Please enter Email" />
          </div>
          <div class="form-group">
            <label>Password</label>
            <Input type="password" placeholder="Please enter Password" />
          </div>
          <div class="form-group">
            <label>Title</label>
            <Input type="text" placeholder="Please enter Title" />
          </div>
          <div class="form-group">
            <label>Example</label>
            <Input type="email" placeholder="Please enter Example" />
          </div>
          <div class="form-group">
            <label>Description :1</label>
            <textarea placeholder="Please enter Description 1"></textarea>
          </div>
          <div class="form-group">
            <label>Description :2</label>
            <textarea placeholder="Please enter Description 2"></textarea>
          </div>
          <div class="form-group">
            <label>Email</label>
            <Input type="email" placeholder="Please enter Email" />
          </div>
          <div class="form-group">
            <label>Email</label>
            <Input type="email" placeholder="Please enter Email" />
          </div>
          <Button>Submit</Button>
        </form>
      </div>
    </div>